.fast-food{
    background-color: blue !important;
}

.color-yellow{
    color: yellow; !important;
    --bs-text-opacity: 1;
}

.color-orange{
    --bs-text-opacity: 1;
    color: orange; !important;
}